
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    background-color: lightgray;
}

.bg-blue {
    background-color: #05a9ee;
}

.pokedex_result {
    background-color: red;
}

