{% extends 'layouts/base.html.twig' %}
{% block title %} Symfony React Project {% endblock %}
{% block body %}
    <div class="row bg-blue">
        <img src="{{ asset('build/images/logo.png') }}" alt="Shanes Pokedex Logo" class="col-2 offset-5"/>
    </div>
    <div id="app"></div>
{% endblock %}